<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="LegendCow">
    <meta name="description" content="Support the Big Tuna discord bot">
    <meta name="keywords" content="bigtuna, big tuna, big, tuna, discord, discord bot, bot, store, big tuna store">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">

    <title>Big Tuna - Shop</title>

    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/shop.css">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DDRVK2WS87"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-DDRVK2WS87');

      const username = '<%= username %>';
      const discordAuthUrl = '<%= discordAuthUrl %>';

    </script>
    <script src="../js/global.js"></script>
    <script src="../js/shop.js"></script>
  </head>

  <body>
    <div id="cover"></div>

    <img id="logo" src="<%= avatarUrl %>" onclick="">
    <p id="discordName"></p>

    <div id="menu" onclick="toggleDropdown()"><img src="../images/png/menu.png" alt="menu icon" id="menuImg"></div>

    <navbar>
      <a href="/">Home</a>
      <a href="/commands">Commands</a>
      <a href="/start">Start Guide</a>
      <a href="/advanced">Advanced Gameplay</a>
      <a href="/shop" class="selected-link">Big Tuna Shop</a>
    </navbar>

    <div id="title"><h1>SHOP</h1><h2>Welcome to the Big Tuna shop! Here you can support your favorite fishing bot by purchasing various cool perks and cosmetic changes. Thanks for acknowledging our hard work!</h2></div>

    <form id="shop" action="/create-checkout-session" method="post">
      <input name="userid" value="<%= userid %>">

      <div class="item">
        <h2 class="name">Supporter</h2>
        <ul>
          <li>Support Big Tuna development</li>
          <li>Cover hosting costs for a full day</li>
          <li>Exclusive supporter border on your stats page</li>
        </ul>
        <h2 class="price">$1.50</h2>
        <div class="counter">
          <div class="add">+</div>
          <div class="count">0</div>
          <input name="oneDayHost" value=0>
          <div class="subtract">-</div>
        </div>
      </div>

      <div class="item">
        <h2 class="name">Big Supporter</h2>
        <ul>
          <li>Permanently gain <span class="hovertext" data-hover="When you forget to fish, the time is taken out of your next cooldown.">Time Accumulation</span></li>
          <li>See this in effect with <span style="font-weight: bold">.cooldowns</span></li>
          <li>Cover hosting costs for a full week</li>
          <li>Exclusive gold supporter border on your stats page</li>
        </ul>
        <h2 class="price">$10.00</h2>
        <div class="counter">
          <div class="add">+</div>
          <div class="count">0</div>
          <input name="oneWeekHost" value=0>
          <div class="subtract">-</div>
        </div>
      </div>

      <div class="item">
        <h2 class="name">Custom Fishing</h2>
        <ul>
          <li>Gift any server the privilege of mapping words to the .fish command</li>
          <li>Exclusive gold supporter border on the server stats page</li>
        </ul>
        <h2 class="price">$20.00</h2>
        <div class="counter">
          <div class="add">+</div>
          <div class="count">0</div>
          <input name="customFish" value=0>
          <div class="subtract">-</div>
        </div>
      </div>

      <a href="<%= discordAuthUrl %>"><button id="login" type="button">Login</button></a>
      <button id="checkout" type="button" style="opacity: 0.5">Checkout</button>

      <div id="footer">
        <div class="footerColumn">
          <div class="columnText">
            <h3 class="footerTitle">Official Server</h3>
            <p>Get support</p>
            <p>Learn to fish</p>
            <p>Explore the community</p>
            <p><a href="https://discord.gg/RaN2VE9zpa" target="_blank">Join the server</a></p>
          </div>
        </div>
        <div class="footerColumn">
          <div class="columnText">
            <h3 class="footerTitle">Useful Links</h3>
            <p><a href="https://top.gg/bot/803361191166607370" target="_blank">Bot page</a></p>
            <p><a href="https://discord.com/api/oauth2/authorize?client_id=803361191166607370&permissions=59456&scope=bot" target="_blank">Invite now</a></p>
          </div>
        </div>
        <div class="footerColumn">
          <div class="columnText">
            <h3 class="footerTitle">Contact</h3>
            <p id="email">discordbigtuna@gmail.com</p>
            <p id="discord">Huntail777#4311</p>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>